{% extends "web/index.html" %}

{% block content %}

<h1>
    {{ alcohol.name }}
    {% if user == alcohol.user %}
    <form action="{% url 'web:alcohol_delete' alcohol.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete alcohol</button>
    </form>
    {% endif %} 
</h1>
<p>{{ alcohol.description }}</p>
{% if alcohol.image %}
    <p><img src="{{ alcohol.image.url }}"/></p>
{% endif %}
<p>Served by <a href="{% url 'web:alcohol_detail' alcohol.id %}">{{ alcohol.name }}</a></p>

{% block footer %}
    Created by {{ alcohol.user }} on {{ alcohol.date }}
{% endblock %}

{% endblock %}