{% extends "web/index.html" %}

{% block content %}

<span vocab="http://schema.org" typeof="Drug">

<h1>
    <span property="name">{{ alcohol.name }}</span>
    {% if user == alcohol.user %}
    <form action="{% url 'web:alcohol_delete' alcohol.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete alcohol</button>
    </form>
    {% endif %} 
</h1>
{% if alcohol.image %}
    <span property="image">{{ alcohol.image }} </span>
    <p><img src="{{ alcohol.image.url }}" style="width: 200px; height: auto;"/></p>
{% endif %}

<p>The brand of this alcohol is: <span property="brand">{{ alcohol.brand }}</span></p>

<div rel="offers">
    <div typeof="Offer">Here are some data relevant about purchasing the product:
      <li><b>What's its availability? </b><span property="availability" href="https://schema.org/InStock">Available in your supermarkets and trusted web pages</span></li>
      <li><b>How much does it cost? </b> Around <span property="price">20</span><span property="priceCurrency">EUR</span></li>
      <li><b>Is it potentially restricted to adults? </b><span property="hasAdultConsideration" content="true">Yes</span></li>
    </div>
</div>

<p>
    <div rel="subjectOf">
        <span typeof="CreativeWork">
    This alcohol was created by
    <span property="author">{{ alcohol.user }}</span>
    on
    <span property="dateCreated">{{ alcohol.date }}</span></span> 
    </div>
</p>

{% endblock %}