{% extends "web/index.html" %}

{% block content %}
<h1 property="name">
    Alcohols
    {% if user.is_authenticated %}
    <form action="{% url 'web:alcohol_create' %}" method="post">
        {% csrf_token %}
        <button type="submit">Create new alcohol</button>
    </form>
    {% endif %}
</h1>

<ul>
    {% for alcohol in alcohols %}
        <li typeof="schema:Drug" resource="#alcohol{{ alcohol.id }}">
            <a href="{% url 'web:alcohol_detail' alcohol.id %}" property="schema:name" typeof="Drug" about="#alcohol{{ alcohol.id }}" >{{ alcohol.name }} </a>
            <div rel="schema:offers" typeof="schema:Offer" property="availability"href="https://schema.org/InStock">Available in your supermarkets and trusted web pages around <span property="schema:price">20</span></div>
        </li>
    {% empty %}
        <li>Sorry, no alcohols registered yet.</li>
    {% endfor %}
</ul>
{% endblock %}
