{% extends "web/index.html" %}

{% block content %}
<h1 property="schema:name" typeof=""schema:AlcoholsList>
    Alcohols
    {% if user.is_authenticated %}
    <form action="{% url 'web:alcohol_create' %}" method="post">
        {% csrf_token %}
        <button type="submit">Create new alcohol</button>
    </form>
    {% endif %}
</h1>

<ul>
    {% for alcohol in alcohols %}
        <li typeof="schema:AlcoholsDetail" resource="#alcohol{{ alcohol.id }}">
            <a href="{% url 'web:alcohol_detail' alcohol.id %}" property="schema:url">{{ alcohol.name }}</a>
        </li>
    {% empty %}
        <li>Sorry, no alcohols registered yet.</li>
    {% endfor %}
</ul>
{% endblock %}
