{% extends "web/index.html" %}

{% block content %}

<span vocab="http://schema.org/Drug" typeof="Brand">

<h1>
    <span property="name">{{ brand.name }}</span>
    {% if user == brand.user %}
    <form action="{% url 'web:brand_delete' brand.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete brand</button>
    </form>
    {% endif %} 
</h1>
<p><span property="description">{{ brand.description }}</span></p>
{% if brand.image %}
    <span property="image">{{ brand.image }}</span>
    <p><img src="{{ brand.image.url }}"/></p>
{% endif %}
<p>Served by <a href="{% url 'web:brand_detail' brand.id %}">{{ brand.name }}</a></p>

{% endblock %}

{% block footer %}
    Created by {{ brand.user }} on {{ brand.date }}
{% endblock %}