{% extends "web/index.html" %}

{% block content %}

<h1>
    {{ brand.name }}
    {% if user == brand.user %}
    <form action="{% url 'web:brand_delete' brand.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
    </form>
    {% endif %} 
</h1>
<p>{{ brand.description }}</p>
{% if brand.image %}
    <p><img src="{{ brand.image.url }}"/></p>
{% endif %}
<p>Served by <a href="{% url 'web:brand_detail' brand.id %}">{{ brand.name }}</a></p>

{% endblock %}

{% block footer %}
    Created by {{ brand.user }} on {{ brand.date }}
{% endblock %}