{% extends "web/index.html" %}

{% block content %}

<span vocab="http://schema.org" typeof="Brand">

<h1>
    <span property="name">{{ brand.name }}</span>
    {% if user == brand.user %}
    <form action="{% url 'web:brand_delete' brand.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete brand</button>
    </form>
    {% endif %} 
</h1>

{% if brand.image %}
    <span property="image">{{ brand.image }} </span>
    <p><img src="{{ brand.image.url }}" style="width: 200px; height: auto;"/></p>
{% endif %}

<h2>Type:</h2>

{% if brand.type == 1 %}
<p><span property="description">This brand corresponds to alcohol products.</span></p>
{% endif %}

{% if brand.type == 2 %}
<p><span property="description">This brand corresponds to soft drinks products, used as mixs.</span></p>
{% endif %}

<p>
    <div rel="subjectOf">
        <span typeof="CreativeWork">
    This alcohol was created by
    <span property="author">{{ brand.user }}</span>
    on
    <span property="dateCreated">{{ brand.date }}</span></span> 
    </div>
</p>

{% endblock %}