{% extends "web/index.html" %}

{% block content %}
<h1 property="schema:name">
    Brands
    {% if user.is_authenticated %}
    <form action="{% url 'web:brand_create' %}" method="post" property="schema:CreateBrand">
        {% csrf_token %}
        <button type="submit">Create new brand</button>
    </form>
    {% endif %}
</h1>

<ul>
    {% for brand in brands %}
        <li typeof="schema:BrandList" resource="#brand{{ brand.id }}">
            <a href="{% url 'web:brand_detail' brand.id %}" property="schema:BrandDetail" typeof="schema:Brand" about="#brand{{ brand.id }}">
                {{ brand.name }}
            </a>
        </li>
    {% empty %}
        <li>Sorry, no brands registered yet.</li>
    {% endfor %}
</ul>

{% endblock %}
