{% extends "web/index.html" %}
{% block content %}
<h1>
    Combinations
</h1>

<ul>
    {% for combination in latest_combination_list %}
        <li><a href="{% url 'web:combination_detail' combination.id %}">
            {{ combination.name }}</a></li>
    {% empty %}<li>Sorry, no combinations registered yet.</li>
    {% endfor %}
</ul>

<h3>Do you want to register a Combination?
    {% if user.is_authenticated %}<a href="{% url 'web:combination_create' %}">Click here!</a>
    {% else %}
        <a href="{% url 'login' %}?next={{request.path}}">Login</a>
    {% endif %}
</h3>

<h3>
    Do you want to register a Brand?
    {% if user.is_authenticated %}
    <a href="{% url 'web:brand_create' %}">Click here!</a>
    {% else %}
        <a href="{% url 'login' %}?next={{request.path}}">Login</a>
    {% endif %}
</h3>

<h3>
    Do you want to register an Alcohol?
    {% if user.is_authenticated %}
    <a href="{% url 'web:alcohol_create' %}">Click here!</a>
    {% else %}
        <a href="{% url 'login' %}?next={{request.path}}">Login</a>
    {% endif %}
</h3>

<h3>
    Do you want to register a Mix?
    {% if user.is_authenticated %}(<a href="{% url 'web:mix_create' %}">Click here!</a>)
    {% else %}
        <a href="{% url 'login' %}?next={{request.path}}">Login</a>
    {% endif %}
</h3>

<h1>Combinations created by me (you can edit them):</h1>
{% if user.is_authenticated %}
<ul>
    {% for combination in latest_combination_list %}
        {% if user == combination.user %}
        <li><a href="{% url 'web:combination_detail' combination.id %}">
            {{ combination.name }}</a></li>
    	{% endif %}
    {% empty %}<li>Sorry, no combinations registered yet.</li>
    {% endfor %}
{% else %}
    <p>Please login to see them</p>
    <a href="{% url 'login' %}?next={{request.path}}">Login</a>
    {% endif %}
</ul>


{% endblock %}