{% extends "web/index.html" %}
{% block title %}MyCombinations - {{ combination.name }}{% endblock %}
{% block content %}

<span vocab="http://schema.org/Recipe" typeof="Combination">

<h1>
    <span property="name">{{ combination.name }}</span>
    {% if user == combination.user %}
        (<a href="{% url 'web:combination_edit' combination.id %}">edit</a>)
    {% endif %}

    {% if user == combination.user %}
    <form action="{% url 'web:combination_delete' combination.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete combination</button>
    </form>
    {% endif %} 
</h1>
    {% if combination.image %}
    <span property="image">{{ combination.image }}</span>
    <p><img src="{{ combination.image.url }}"/></p>
    {% endif %}

    <h2>Made by:</h2>
    <span property="recipeIngredient"><p>{{ combination.alcohol }}, {{ alcohol.brand }} </p></span>
    <span property="recipeIngredient"> <p> {{ combination.mix }} {{ mix.brand }} </p></span>
      
<h2>Reviews</h2>
{% if combination.combinationreview_set.all|length > 0 %}
<span rel="aggregateRating">
    <p typeof="AggregateRating">
        Average rating 
        <span property="ratingValue">{{ combinations.averageRating|stringformat:".1f" }}</span>
        {% with combination.combinationreview_set.all|length as reviewCount %}
            from <span property="reviewCount">{{ reviewCount }}
            </span> review{{ reviewCount|pluralize }}
        {% endwith %}
    </p>
</span>

<ul rel="review">
    {% for review in combination.combinationreview_set.all %}
        <li typeof="Review">
            <p rel="reviewRating" typeof="Rating">
                <span property="worstRating" content="{{ RATING_CHOICES.0.0 }}"></span>
                <span property="ratingValue">{{ review.rating }}</span> 
                star{{ review.rating|pluralize }}
                {% with RATING_CHOICES|last as best %}
                <span property="bestRating" content="{{ best.0 }}"></span>
                {% endwith %}
            </p>
            <p property="description">{% if review.comment %}{{ review.comment }}</p>
            <p>Created by <span property="author">{{ review.user }}</span> on
            <span property="datePublished" >{{ review.date }}</span></p>
            {% endif %}
        </li>
    {% endfor %}
</ul>
</span>
{% endif %}

<h3>Add Review</h3>
<form action="{% url 'web:review_create' combination.id %}" method="post">
    {% csrf_token %}
    Message: <textarea name="comment" id="comment" rows="4"></textarea>
    <p>Rating:</p>
    <p>{% for rate in RATING_CHOICES %}
    <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.0 }}" />
    <label for="choice{{ forloop.counter }}">{{ rate.1 }} star{{ rate.0|pluralize }}</label><br />
    {% endfor %}
    </p>   
    <input type="submit" value="Review" />
</form>

{% endblock %}

{% block footer %}
    Created by {{ combination.user }} on {{ combination.date }}
{% endblock %}
