{% extends "web/index.html" %}

{% block content %}
<h1 property="name">
    Mixs
    {% if user.is_authenticated %}
    <form action="{% url 'web:mix_create' %}" method="post" property="schema:CreateMix">
        {% csrf_token %}
        <button type="submit">Create new mix</button>
    </form>
    {% endif %}
</h1>

<ul>
    {% for mix in mixs %}
        <li typeof="schema:Product" resource="#mix{{ mix.id }}">
            <a href="{% url 'web:mix_detail' mix.id %}" property="schema:name" typeof="IndividualProduct" about="#mix{{ mix.id }}">
                {{ mix.name }}
            </a>
        </li>
    {% empty %}
        <li>Sorry, no mixs registered yet.</li>
    {% endfor %}
</ul>

{% endblock %}
