{% extends "web/index.html" %}

{% block content %}

<span vocab="http://schema.org/IndividualProduct" typeof="IndividualProduct">

<h1>
    {{ mix.name }}
    {% if user == mix.user %}
    <form action="{% url 'web:mix_delete' mix.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete mix</button>
    </form>
    {% endif %} 
</h1>
<p>{{ mix.description }}</p>
{% if mix.image %}
    <p><img src="{{ mix.image.url }}"/></p>
{% endif %}
<p>Served by <a href="{% url 'web:mix_detail' mix.id %}">{{ mix.name }}</a></p>

{% endblock %}

{% block footer %}
    Created by {{ mix.user }} on {{ mix.date }}
{% endblock %}